body {
    background:#8DA6F2;
    font-family: Arial, Helvetica, sans-serif;
}

.assignments{
     display: flex;
     flex-wrap: wrap;
}

.assignment {
    width: 2;
    padding:10px;
    margin: 10px;
    padding: 20px 0;
    background: #F2B705; 
    border-radius: 5px;
}

.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid #D2691E;
    display:block;
    margin:auto
}

.assignment img:hover {
    border: 2px solid #585CA6;
}

h1 {
    color: #585CA6;
    text-align: center;
}

h1:hover {
    color:#D2691E ;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: #DC143C;
}

a:hover {
    color: #FFF;
}